{% extends "base.html" %}

{% block title %}{{ board['name'] }}{% endblock %}

{% block content %}
<div class="board row">
    <div class="twelve columns">
        <div class="images">
    {% if images|length > 0 %}
        {% for image in images %}
            <div class="image">
                <img src="/comboard/static/uploads/{{ image['filename'] }}"/>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any images on this board yet. Why don't you add some?</p>
    {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            <label for="image_input">Image</label>
            <input type="file" id="image_input" name="image"/>
            <input class="button-primary" type="submit" value="Add">
            <p>Accepted filetypes: png, jpg, gif (&lt; 4MB)</p>
            <p class="error-message">{{ error }}</p>
        </form>
    </div>
</div>

{% endblock %}
