{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="twelve columns">
        <h5>Available Boards:</h5>
    {% if boards|length %}
        <ul>
        {% for board in boards %}
            <li><a href="/boards/{{ board['id'] }}">{{ board['name'] }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any boards yet. Why don't you create one?</p>
    {% endif %}
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <form action="" method="post" novalidate>
            <label for="board_name_input">Board name</label>
            <input type="text" name="board_name" id="board_name_input" value="{{ board_name }}" required/>
            <input class="button-primary" type="submit" value="Create">
            <p class="error-message">{{ error }}</p>
        </form>
    </div>
</div>
{% endblock %}
